/* *,
*::before,
*::after {
    box-sizing: border-box;
} */
* {
    border: none;
}
img {
    display: block;
    max-width: 100%;
}
/* <html> = the root */
html {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
}
:focus:not(:focus-visible) {
    outline: none;
}
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}


/* animations */
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}
	24% {
		opacity: 1;
	}
	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}
	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}
	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}
	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}
	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}
	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

/* setup */
:root {
    --eerie-black: #222725ff;
    --old-rose: #cd8b76ff;
    --isabelline: #f8f5f2ff;
    --tea-green: #c8d5b9ff;
    --viridian: #417b5aff;
}

body {
    font: 1em/160% "Times New Roman";
    background-color: var(--isabelline);
    color: var(--eerie-black);
}
  
a {
    color: var(--old-rose);
    &:focus,
    &:hover,
    &:active {
      color: var(--accentV2);
    }
}
a:link { text-decoration: none; transition: all .5s ease;}
a:visited { text-decoration: none; transition: all .5s ease;}
a:hover { text-decoration: none; transition: all .5s ease;}
a:active { text-decoration: none; transition: all .5s ease;}
  
p {
    &:not(:last-child) {
    margin-bottom: 1.5em;
    margin-left: 2rem;
    margin-right: 2rem;
    }
}
  
h1,
h2,
h3,
h4 {
    line-height: 120%;
    margin-top: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-weight: normal;
    font-family: "Baskerville";
    color: var(--viridian);
}
  
h1 {
    text-align: center;
    margin-left:5rem;
    font-size: 300%;
}
h2 {
    font-size: 160%;
}
h3 {
    font-size: 120%;
}

h5 {
    font-size: 150%;
    font-weight: normal;
    font-family: "Baskerville";
    color: var(--isabelline);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.barofcolor {
    background-color: var(--viridian);

    margin-top: 1rem;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
}


/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  .container div {
    background-color: var(--tea-green);
    
    aspect-ratio: 1;
  }



/* nav */
.sidebar{
    position:fixed;
    left: -25%;
    width:25%;
    height:100%;
    background: var(--eerie-black);
    z-index:1000;
    transition: all .5s ease;
    opacity: 97%;
    top: 0;
}
.sidebar header{
    font-size: 150%;
    color: var(--tea-green);
    text-align: left;
    line-height: 6rem;
    background: var(--eerie-black);
    user-select: none;
    margin-left: 3rem;
    margin-bottom: 0;
    margin-top: 1rem;
}
.sidebar ul a{
    /* display: block; */
    width: 100%;
    line-height: 5rem;
    margin-top: 0rem;
    font-size: 1.5rem;
    color: var(--isabelline);
    /* padding-left: 0rem; */
    /* box-sizing: border-box; */
    border-top: 0rem;
    border-bottom: 0rem;
    transition: .4s;
}
.sidebar ul li:hover a{
    padding-left: 5%;
    color: var(--tea-green);
}
/* .sidebar ul a i {
    margin-right: 1rem;
} */
#check{
    display: none;
}
label #btn {
    position: absolute;
    cursor: pointer;
    background: var(--eerie-black);
    border-radius: 0.5rem;
}
label #cancel{
    position: absolute;
    cursor: pointer;
    /* background: var(--eerie-black); */
}
label #btn{
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    color: var(--isabelline);
    padding: 0.75rem 1rem;
    transition: all 0.5s;
    opacity: 90%
}
label #cancel{
    z-index:1111;
    left: -25%;
    top: 1rem;
    font-size: 2rem;
    color: var(--isabelline);
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left: 20%;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 25%;
    margin-left: -2.5rem;
}



.topbar{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}
.topbar ul li {
    display: inline;
}
.topbar ul a{
    color: var(--viridian);
    transition: .4s;
}
.topbar ul li:hover a{
    color: var(--tea-green);
    padding-bottom: 10%;
}



.tablecontainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}